<div class="jumbotron">  
  <div class="container">
    <h1>New article</h1>
    <table class="table success">
      <tr>
        <td class="col-md-4"><h2> <b>Title</b></h2> </td>
        <td class="col-md-4"><h2> <b>Text</b></h2>  </td>
          <!-- <td colspan="3"></td> -->
      </tr>     
      <tr>
        <td class="col-md-4"><%= @article.title %></td>
        <td class="col-md-4"><%= @article.text %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td class="btn btn-default"> <%= link_to 'Back', articles_path %> </td>
        <td class="btn btn-default"> <%= link_to 'New', new_article_path %> </td>
        <!-- or -->
        <td class="btn btn-default" href="#" role="button"> <%= link_to 'Back', articles_path %> </td>
        <td class="btn btn-default" href="#" role="button"> <%= link_to 'New', new_article_path %> </td>
      </tr>
    </table>

  </div>
</div>
